<section class="container-fluid">
    <h2>All the things</h2>

    <div class="row">
        <div class="col-sm-6">
            <div class="list-group">
            {{#each schedule in model}}
                {{#link-to "schedule" schedule class="list-group-item"}}
                    <span class="badge">{{ schedule.location }}</span>
                    <h3 class="list-group-item-heading">{{ schedule.title }} <span class="label label-default">{{ schedule.time }}</span></h3>
                {{/link-to}}
            {{/each}}
            </div>
        </div>

        <div class="col-sm-6">
            {{ outlet }}
        </div>
    </div>
</section>